<article>
  <h1>{{name}}</h1>
  <div>
    <app-project *ngFor="let project of projects" [name]="project.name" [status]="project.status"
                 [description]="project.description" [technologies]="project.technologies"
                 [links]="project.links" [groupMember]="true"></app-project>
  </div>
</article>
