<article *ngIf="fetchError">
  <h1>oops something went wrong..</h1>
  <p>try again later</p>
</article>
<article *ngIf="profile">
  <h1>Info</h1>
  <p>{{profile.basicInfo.description}}</p>

  <section>
    <h2>Programming Languages</h2>
    <ul>
      <li *ngFor="let language of profile.basicInfo.technicalLanguages">
        <h3>{{language.name}}</h3>
        <p>{{language.skillInfo}}</p>
        <ul class="language-tools">
          <li *ngFor="let tool of language.tools">
            {{tool}}
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <h2>Tools</h2>
    <ul>
      <li *ngFor="let toolCategory of profile.basicInfo.tools">
        <h3>{{toolCategory.category}}</h3>
        <ul>
          <li *ngFor="let tool of toolCategory.items">
            {{tool}}
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <h2>Natural Languages</h2>
    <ul>
      <li *ngFor="let language of profile.basicInfo.naturalLanguages">
        <h3>{{language.name}}</h3>
        <p>Level: {{language.level}}</p>
      </li>
    </ul>
  </section>
  <section>
    <h2>Company Requirements</h2>
    <p>{{profile.companyRequirements.description}}</p>
    <div class="requirements">
      <ng-container *ngFor="let requirement of profile.companyRequirements.requirements">
        <span>{{requirement.type}}</span>
        <span>{{requirement.content}}</span>
      </ng-container>
    </div>
  </section>
</article>

