.requirements {
  display: grid;
  grid-template-columns: auto 1fr;
}

.requirements > span:nth-child(2n-1){
  grid-column: 1;
}

.requirements > span:nth-child(2n-1):after {
  content: ":\00a0";
}

.requirements > span:nth-child(2n) {
  grid-column: 2;
}

.language-tools {
  display: flex;
  flex-wrap: wrap;
}

.language-tools > li {
  margin-left: 2em;
}
