<ng-container *ngFor="let item of projects">
  <app-project *ngIf="!item.projects" [name]="item.name" [status]="item.status" [description]="item.description"
               [links]="item.links" [technologies]="item.technologies"></app-project>
  <app-project-group *ngIf="item.projects" [name]="item.name" [projects]="item.projects"></app-project-group>
</ng-container>
