header {
  background-color: var(--background-header-light);
  display: flex;
  flex-direction: column;
  font-size: clamp(1.5rem, min(5vh, 5vw), 2rem);
  padding: clamp(5px, 1vh, 50px) clamp(2px, 1vw, 400px);
}

header a {
  text-decoration: none;
}

.logo > a {
  color: unset;
}

header > .menu {
  display: flex;
}

header > .menu > a {
  margin-right: clamp(5px, 5vw, 50px);
}

.menu > a.active {
  text-decoration: underline !important;
}

.menu > a:hover {
  text-decoration: underline !important;
}

main {
  flex: 1 1 auto;
  padding: 0 clamp(10px, 2vw, 500px) 10vh clamp(10px, 2vw, 500px);
  overflow-y: auto;
  background-color: var(--background-content-light);
}

@media (min-width: 500px) {
  header {
    padding: clamp(5px, 1vh, 50px) clamp(2px, 5vw, 400px);
  }

  main {
    padding: 0 clamp(10px, 8vw, 500px) 10vh clamp(10px, 8vw, 500px);
  }
}
