<header>
  <div class="logo">
    <a routerLink="/">rbbl.cc</a>
  </div>
  <div class="menu">
    <a routerLink="/projects" routerLinkActive="active">projects</a>
    <a routerLink="/about" routerLinkActive="active">about</a>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
