<article class="project">
  <h1 *ngIf="!groupMember">{{name}}</h1>
  <h3 *ngIf="groupMember">{{name}}</h3>
  <p class="subheading">{{status}}</p>
  <p>{{description}}</p>
  <p *ngIf="technologies">
    <span>Technologies: </span>
    <span class="tag-style" *ngFor="let technology of technologies">
      {{technology}}
    </span>
  </p>
  <ul>
    <li *ngFor="let link of links">
      <a href="{{link.url}}" title="{{link.description}}">{{link.name}}</a>
    </li>
  </ul>
</article>
