/* article heading with subheading
 TODO replace with :has(+.subheading) and move to the general style sheet, when browsers support is there */
article > h1, h2, h3 {
  margin: 1.5em 0 0 0;
}

article > ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

article>ul>li:not(:first-child) {
  margin-left: 20px;
}

.tag-style {
  font-size: small;
  opacity: 75%;
  margin-left: 15px;
}
