/* You can add global styles to this file, and also import other style files */
/* CSS HEX */
:root {
  --background-content-light: #f9f9f9;
  --background-header-light: #ededed;
  --rose-bonbon: #ff499eff;
  --sky-magenta: #d264b6ff;
  --lavender-floral: #a480cfff;
  --cornflower-blue: #779be7ff;
  --blue-jeans: #49b6ffff;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'JetBrains Mono', monospace;
}

.vertical-list > * {
  margin-left: 20px;
}

article > .subheading {
  margin: 0;
}

ul {
  padding-left: 20px;
}

h1, h2 {
  margin-top: 1.5em;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

